.aboutMeCard {
    border: 1px solid;
    border-radius: 10px;
    padding: 2rem;
    gap: 2rem;
    width: 30em;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    background-color: white;
    font-family: var(--font-inter);
}

.aboutMeCardRight {
    flex-direction: row-reverse;
    align-self: flex-end;
}

@media (max-width: 600px) {
    .aboutMeCard {
        flex-direction: column;
        width: unset;
    }
}

.leftDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 40%;
}

.imageDiv {
    width: 70%;
    aspect-ratio: 1;
    position: relative;
}

.rightDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 60%;
}

.h3 {
    margin: 1em 0 0 0;
}

.titleP {
    margin: 0 0 0.2em;
}

.timespanP {
    margin: 0 0 1em;
}

.bodyP {
    margin: 0;
}
